/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/resumes
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
*.DS_Store*
/public/tinymce/
tags
*.swp
